@import '../../assets/scss/variable.scss';

.configurable-options {
  display: flex;
  gap: 10px;
  &__item {
    width: 30px;
    height: 20px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $black;
    cursor: pointer;
    &--active {
      border: 2px solid $green;
    }
    &--disable {
      opacity: 0.3;
      cursor: default;
    }
  }
}