@import '../../assets/scss/variable.scss';

.button {
  background-color: $white;
  border: 1px solid $dark-blue;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.3s;
  text-transform: uppercase;
  width: auto;
  margin: 0 auto;
  &:hover {
    transition: 0.3s;
    background-color: $dark-blue;
    color: $white;
    cursor: pointer;
  }
  &--disabled {
    color: $gray-light;
    border-color: $gray-light;
    background: $gray;
    &:hover {
      transition: 0.3s;
      cursor: default;
      color: $gray-light;
      background: $gray;
    }
  }
}