@import '../../assets/scss/variable.scss';

.logo {
  line-height: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  color: $green;
  &__image {
    height: 60px;
    @media (min-width: 1025px) {
      height: 70px;
    }
  }
  &__title {
    line-height: 1.2;
    text-align: left;
    font-weight: 700;
  }
  &:hover {
    color: $green;
  }
}