.filter {
  width: 100%;
  max-width: 120px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  border-right: 1px solid #aeaeae;
  position: sticky;
  top: 5px;

  &__item {
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      border-color: #041d36;
      color: #041d36;
      cursor: pointer;
    }

    &--active {
      transition: 0.3s;
      background-color: #041d36;
      border-color: #041d36;
      color: #fff;

      &:hover {
        background-color: #041d36;
        color: #fff;
        cursor: default;
      }
    }

    @media (min-width: 1280px) {
      padding: 5px 15px;
    }
  }

  @media (min-width: 1280px) {
    max-width: 240px;
    padding-right: 20px;
    gap: 20px;
  }
}