.sorting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
  &__select {
    padding: 10px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #002D72;
    border-radius: 10px;
  }
}