@import '../../assets/scss/variable.scss';

.step-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  height: 100%;
  &__list {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
  }
  &__list-item {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: $white;
    background-color: $gray-light;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 26px;
      height: 26px;
      border-top: 1px solid $white;
      border-right: 1px solid $white;
      transform: rotate(45deg);
      position: absolute;
      z-index: 1;
      right: -13px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &--active {
      background: $yellow;
      &::after {
        background-color: $yellow;
      }
    }
    &--done {
      background: $dark-green;
      &::after {
        background-color: $dark-green;
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  &__success {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__success-text {
    font-size: 21px;
    color: $green;
    line-height: 26px;
  }
}